h1{
  font-size: 50px;
  font-style: italic;
  color: blue;
  font-family: cursive;
}

body{
  background-color: darkviolet;
}
form{
  padding: 50px;
  margin: 50px;
  font-family: cursive;
}
li {
  padding: 10px;
  margin: 10px;
}

input {
  background-color: white;
}

.favfood {
  font-family: "Lucida Console", Courier, monospace;
}
