h1{
    font-family: "Lucida Console", Courier, monospace;
}

div li {
  display: inline;
}

body {
  background-color: lightskyblue;
}

form{
  padding: 50px;
  margin: 50px;
  font-family: cursive;
}
mi {
  padding: 10px;
  margin: 10px;
}
